.close { position: absolute; right: -25px; top: -25px; cursor: pointer; z-index: 10; width: 60px; }
.modal-content { position: relative; display: flex; flex-direction: column;width: 100%;pointer-events: auto;outline: 0; border-radius: 1.5rem; }
.modal-body{ margin-top: 0px; border-radius: 1.5rem;}
.modal-header { border-bottom: none; }
